@charset "utf-8";

/* ---- searchwrap-Start ---- */
.searchwrap .titleArea {margin-bottom:0 !important;}
.searchwrap .searchBox {position:relative; width: 730px;}
.searchwrap .searchBox fieldset{border:0 none; vertical-align:top; display: flex; width:auto; } 

.searchwrap .searchBox .selectBox .select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border:0 none; width:inherit; height:-webkit-fill-available; padding:1.2rem 5rem 1.2rem 2rem;  font-size: 1.6rem; color:var(--d_gray); background: url('../image/search_icon.svg') no-repeat 100% 50%; border:1px solid var(--line_gray); border-radius: 5px; }
.searchwrap select::-ms-expand{display:none;}

.searchwrap .searchBox input[type="text"]{padding:1.2rem 2rem; color:var(--d_gray); border:1px solid var(--line_gray); border-radius: 5px; font-size: 1.6rem; background:transparent; margin:0 3rem; width:60%;}
.searchwrap .searchBox button{border:0 none; }

/* search 커스텀 */
.searchwrap .searchBox .select:focus {border-color:var(--main_pink); outline: none; color:var(--text_gray);}
.searchwrap .searchBox select option {padding:1rem; border: 1px solid var(--light_pink);}
.searchwrap .searchBox input:focus {border-color:var(--main_pink); outline: none; color:var(--text_gray);}
/* ---- searchwrap-End ---- */


/* ---- listWrap_Start ----  */
.list_title {display: flex; align-items: flex-end;}

/* filter */
.list_filter {margin: 1.2rem 0;}
.list_filter .filterName {display: flex; justify-content: flex-end;}
.list_filter .filterName li {font-size: 1.2rem; color:var(--text_gray); position:relative; margin-right:1rem; padding-right:1rem;}
.list_filter .filterName li.on{color:var(--text_black);}
.list_filter .filterName li:last-child {margin-right:0; padding-right:0}

.list_filter .filterName li::after {position:absolute; top:0; right:0; content: ''; width:1px; height: 12px; background: var(--text_gray);}
.list_filter .filterName li:last-child::after {display: none;}

/* pagenation */
.pagination {display: flex; justify-content: flex-end; margin-top: 10rem; align-items: center;}
.pagination >* {padding:0.8rem 1rem; font-size: 1.4rem; border:0.5px solid var(--d_gray); text-align: center; color:var(--text_black); width: 3.8rem; white-space: nowrap;} 
.pagination >*:first-child {border-radius: 6px 0 0 6px;}
.pagination >*:last-child {border-radius:0 6px 6px 0;}
.pagination a.active {background: var(--sub_pink); color:var(--bg-white); border-color:var(--sub_pink);}
.pagination a:hover:not(.active) {background-color: var(--light_pink);}

/* ---- listWrap_End ----  */

.radio_flex {display: flex; justify-content: center; align-items: center; text-align: center;}
.radio_flex .radio_cus {display: flex;}
.radio_flex .radio_cus:first-child{margin-right: 4rem;}
.radio_flex .radio_cus div {margin-left: 0.5rem;}

/* ---- gpt_text_Start ---- */
#gpt_text textarea {width: 100%; height: 14vh; border: 1px solid var(--d_gray); border-radius: 10px; padding:2rem; color:var(--text_black); font-size: 1.4rem;}

#gpt_text textarea:focus {outline: none;}

/* ---- gpt_text_End ---- */

/* ---- userInput_Start ---- */
.userInput {margin-bottom: 2rem;}
.userInput .flex {align-items: flex-start; justify-content: flex-start;}
.userInput .flex .subtitle {width:6%; }
.userInput .input_box {display:flex; flex-flow: column; width:100%;}
.userInput input[type="text"]{padding: 1.2rem 2rem; color: var(--text_black); border: 1px solid var(--line_gray); border-radius: 5px; font-size: 1.6rem; background: transparent; margin: 0 3rem; width: 60%;}

.userInput input:focus {border-color:var(--main_pink); outline: none; color:var(--text_gray);}
/* text form */
.tableArea02 .text_editor {padding:0 !important;}
.tableArea02 .ql-toolbar.ql-snow {border: 0; border-bottom:1px solid var(--d_gray);     text-align: justify;}
.tableArea02 .ql-container.ql-snow {border:0;}
/* select */
.userInput_box .select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border:0 none; width:inherit; height:-webkit-fill-available; padding:0.5rem 8rem 0.5rem  2rem;  font-size: 1.4rem; color:var(--d_gray); background: url('../image/search_icon.svg') no-repeat 95% 50%; border:1px solid var(--line_gray); border-radius: 5px; }

.userInput_box select::-ms-expand{display:none;}
.userInput_box .select:focus {border-color:var(--main_pink); outline: none; color:var(--text_gray);}
.userInput_box select option {padding:1rem; border: 1px solid var(--light_pink);}

.userInput_box .select:focus {border-color:var(--main_pink); outline: none; color:var(--text_gray);}
/* time */
.timewrap {justify-content: space-evenly;}
.timewrap .time .timebox {padding:0.4rem 2rem 0.4rem 0.4rem; margin:0 1rem 0 0.5rem ; background:#f5f5f5; border-radius: 4px; font-size: 1.2rem; border:1px solid var(--line_gray)}

/* 카테고리 */
.c_choice {display:flex; flex-flow: row wrap;}
.c_choice >* {width: calc(98% / 5); display: flex; margin-top: 1rem; }
.c_choice input[type="checkbox"] {border-color:var(--text_gray);}

/* dropimgbox */
#dropzone {width:100%;  margin:0 3rem; }
#dropzone .dropzone {width:60%; min-height: -webkit-fill-available; border:0; border-radius: 5px; background: #f5f5f5; font-size: 1.6rem; padding:2rem;}
#dropzone .dropzone .dz-message {margin:1rem 0; line-height: 1.5;}
#dropzone .dropzone .dz-message span {font-size: 1.4rem;}
.dropimg {display: flex; font-size: 1.2rem; margin-top:0.8rem; align-items: center;}


/* input_menu */
.userInput .input_box02 {display:flex; flex-flow: row; width:100%; margin: 0 3rem;}
.userInput .input_box02 input[type="text"]{padding: 1.2rem 2rem; color: var(--text_gray); border: 1px solid var(--line_gray); border-radius: 5px; font-size: 1.6rem; background: transparent; margin: 0; width: 60%;}
.userInput .input_menu {margin-left: 2.5rem;}
.userInput .input_menu .input__flex {display: flex; flex-flow: row; align-items: center;}
.userInput .input_menu .input__flex i.fa-minus {padding:0.4rem; border-radius: 99px; border:1px solid var(--text_normal); font-size: 0.8rem;}
.userInput .input_menu .input__flex .flex_02 {font-size: 1.6rem; white-space: nowrap;}
.userInput .input_menu .butArea {margin-left: 10.4rem;}
/* ---- userInput_End ---- */

/* ---- 상권관리_Start ---- */
.sub03.tableArea .t_start i {color:var(--main_pink); margin-right:0.5rem;}
/* hashtag */
.hashtag {text-align: justify; padding: 1.5rem 0 1.5rem 20rem !important; background:var(--bg-gray) !important;}
.hashtag >* {font-size:1.4rem; padding: 0.5rem 1rem; border-radius: 5px; border:1px solid var(--main_pink); color:var(--main_pink); margin-right:0.5rem; background:var(--opacity_main); }

/* sub08 */
.sub03-1 .c_choice >*:nth-child(-n+5) {margin-top: 0;}
.tableArea02 .tg input[type="text"], .tableArea02 .tg select:not(.timebox), .tableArea02 .tg textarea {width:100%; font-size: 1.6rem; padding: 1.2rem 2rem; color:var(--text_gray); border:1px solid var(--line_gray); border-radius: 5px;}
.sub03-1 .tableArea02 .tg textarea {height: 50vh;}

.tableArea .userInput_box .select, .tableArea02 .userInput_box .select {width:100%; padding:1.2rem 2rem;}
.tableArea02 .userInput input[type="text"]{width:100%; margin:0;}
.detail_user.tableArea02 .tg tbody tr td > .tableArea.daywrap .tg tbody td:nth-child(odd) {background:var(--bg-white);}
.detail_user.tableArea02 .tg tbody tr td > .tableArea.daywrap .tg thead th {font-size: 1.6rem;
    font-weight: 500; color: var(--text_gray); background: var(--bg-gray2);}
.tableArea.daywrap .butArea {margin:0; display:flex; flex-flow: column;}
.tableArea.daywrap .butArea >*:first-child {margin-bottom:1rem;}

/* ---- 상권관리_End ---- */

/* modal */
#myModal.modal { display: none;  position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);  }
#myModal .modal-content { background-color: #fefefe; margin: 15% auto;  padding: 3rem; border: 1px solid #888; width: fit-content; }
#myModal .modal-content input[type="text"] { margin: 0 3rem 0 0; width: min-content;}
#myModal .close { color: #aaaaaa; float: right; font-size: 28px; font-weight: bold; }

#myModal .close:hover,
#myModal .close:focus { color: #000; text-decoration: none; cursor: pointer; }

/* ---- 관광정보_Start ---- */
.tableArea02 .tg .add .input_box.flex input[type="text"].first {width:25%;}
.tableArea02 .tg .add .input_box.flex input[type="text"].last {width:calc(100% - 20px);}
.tableArea02 .tg .add .input_box.flex .btn.btn_04 {border: 1px solid var(--d_gray); padding:1.35rem 2rem; margin:0 1rem;}

.userInput.flex {margin-bottom:0;}
.userInput.flex .input_box {width:-webkit-fill-available;}
.userInput.flex #dropzone.file {width:auto;}


/* ---- 관광정보_End ---- */

@media (max-width:1440px) {
    #section .menu li a {width: 98%;}
    /* userinput */
    .userInput .flex .subtitle {width:9%;}   

    /* sub07 */
    .sub03.tableArea .tg thead th {white-space: nowrap;}
    .sub03.tableArea .tg tbody td {white-space: nowrap;}
}
@media (max-width: 1024px) {
    #section .menu li a {width: 100%;}

    /* Dashboard */
    #section .dashboard_wrap .board_flex .boardbox .boardimg span {font-size: 1.4rem;     margin-left: 0.5rem;}
    #section .dashboard_wrap .board_flex .boardbox .box .store span {font-size: 1.3rem;}
    #section .dashboard_wrap .board_flex .boardbox .box .store p {font-size: 1.1rem;}
    #section .dashboard_wrap .board_flex .boardbox .boardtext h2 {font-size:2.8rem;}
    #section .dashboard_wrap .board_flex .boardbox .boardtext h2::after {height: 2px;}
    #section .dashboard_wrap .board_flex .boardbox .boardtext small {font-size:2rem;}

    #section .dashboard_wrap .board_flex .boardbox .category_box >* {padding:0.5rem;}
    #section .dashboard_wrap .board_flex .boardbox .category .img {font-size: 0.8rem; width: 4rem; height: 4rem;}
    #section .dashboard_wrap .board_flex .boardbox .category .num {font-size: 1.3rem; margin-left: 0.5rem; letter-spacing: -0.08rem;} 
    #section .dashboard_wrap .board_flex .boardbox .boardtext .free {font-size: 1.2rem;}

    /*  table  */
    .tableArea .tg,.tableArea02 .tg {border-collapse: collapse;}
    /* userinput */
    #dropzone {margin:0 2rem;}
    .userInput .flex .btn.btn_05{width: 15%;}
    .userInput .flex .subtitle {width:13%;}
}
@media (max-width: 1000px) {
    /* table */
    .tableArea .tg {width: max-content;}
    .tableArea02 .tg {width: max-content;}
    /* img */
    .imgArea >* {margin : 0.5rem;}
}
@media (max-width: 768px) {
    /* 공용css */
    .mb30 {margin-bottom:2rem;}
    .box_style {padding:2rem; margin-bottom:2rem;}
    .titleArea {font-size:1.8rem; margin-bottom: 2rem;}
    .subtitle {font-size: 1.6rem;}

    /* table */
    .tableArea02 .tg tbody td, .tableArea02 .tg tbody td {padding:1.1rem 1.5rem;}
    .radio_flex .radio_cus:first-child {margin-right: 2rem;}
    
    /* btn */
    .btn.btn_01, .btn.btn_02, .btn.btn_04, .btn.btn__04, .btn.btn_06, .btn.btn_07   {padding: 0.75rem 1.5rem; font-size: 1.4rem; white-space: nowrap;}
    .btn.btn_05 {padding: 0.75rem 1.5rem; font-size: 1.4rem; white-space: nowrap; margin:0 2rem;}
    .btn_type1 {padding: 0.75rem 1.5rem; }  
    

    /* searchwrap */
    .searchwrap{flex-flow: column;}
    .searchwrap .titleArea {margin-bottom:1rem !important;}
    .searchwrap .searchBox {width: -webkit-fill-available;}
    .searchwrap .searchBox fieldset {justify-content: center;}
    .searchwrap .searchBox .selectBox .select {padding: 0.75rem 3rem 0.75rem 1rem; font-size: 1.4rem; background-position: 105% 50%;}
    .searchwrap .searchBox input[type="text"] {margin:0 1rem; padding: 0.75rem 1.5rem; font-size: 1.4rem; text-overflow: ellipsis;}
    
    #section {/*height: fit-content;*/ height: -webkit-fill-available;}
    
    /* Dashboard */
    #board_wrap {padding:2rem;}
    #section .dashboard_wrap .board_flex > * {width: calc((100% - 20px) / 2);}
    
    /* pagenation */
    .pagination {justify-content: center;}

    /* user */
    .user_setting {bottom: -245%; right: 2.8%; padding: 1rem 0;}
    .user_setting .userbox li .user_item {font-size: 1.4rem; padding: 1rem 2rem;}

    /* list_filter */
    .list_filter {position: relative;}
    .list_filter .filterName {flex-flow: column; align-items: flex-end; position: absolute;         right: 0; top: -32px; padding:0.5rem; border:1px solid var(--d_gray); border-radius: 5px; background: #fbfbfb; transition: background 0.8s ease;}
    .list_filter .filterName li {display: none; margin-right: 0; padding-right: 1.5rem;}
    .list_filter .filterName li:last-child {padding-right: 1rem;}
    .list_filter .filterName li::after {background: url("../image/arrow_down.png") 95% 50% no-repeat; width:10px; background-size: cover; top: auto;}
    .list_filter .filterName li:last-child::after {display: unset; position: absolute;}
    
    .list_filter .filterName.active li{display: block; padding:0 1.5rem 1rem 1rem; transition: background 0.8s ease;}
    .list_filter .filterName li.on {display: block;}

    /* userinput */
    .userInput input[type="text"] {width:70%;}
    .userInput .flex .btn.btn_05{width: 20%;}
    .userInput input[type="text"] {padding: 0.75rem 1.5rem; font-size: 1.4rem; margin:0 2rem;}
    .userInput .input_box02 input[type="text"] {padding: 0.75rem 1.5rem; font-size: 1.4rem; }

    /* sub07 */
    .hashtag >* {font-size: 1.2rem;}
    .sub03.btn.btn_06 {padding:0.5rem 1rem;}

    /* 상권관리 */
    .tableArea .userInput_box .select, .tableArea02 .userInput_box .select {padding: 0.75rem 1.5rem;}
}

@media (max-width: 450px) {
    /* 공통 css */
    .ml20 {margin-left: 1rem;}
    .mb20 {margin-bottom: 1rem;}

    #top_header {height: 6rem;}
    #board_wrap {margin-top:6rem;}
    #section .dashboard_wrap .board_flex > * {width: calc(100%);}
    #section .menu li a {font-size: 1.4rem;}
    .importext {font-size: 1.4rem;}
    /* btn */    
    .btn.btn_05 {margin:1rem 0 0;}

    /* user */
    .user_setting {bottom: -340%;}

    .searchwrap .searchBox .selectBox .select {background-position: 110% 50%;}
    /* pagenation */
    .pagination >* {font-size: 1.2rem; width: 3.5rem;}

    /* table */
    .tableArea .tg thead th {font-size: 1.4rem;}
    .tableArea .tg tbody td {font-size: 1.3rem;}
    .tableArea02 .tg thead th:nth-child(odd) {font-size: 1.4rem;}
    .tableArea02 .tg tbody td:nth-child(odd) {font-size: 1.4rem;}
    .tableArea02 .tg thead th:nth-child(even) {font-size: 1.3rem;}
    .tableArea02 .tg tbody td:nth-child(even) {font-size: 1.3rem;}

    .tableArea02 .tg input[type="text"], .tableArea02 .tg select:not(.timebox), .tableArea02 .tg textarea {font-size: 1.4rem;}

    /* userinput */
    .userInput .flex {flex-flow: column;}
    .userInput .flex .btn.btn_05{width: 30%;}
    .userInput .input_box .mb10 {margin:1rem 0 0 !important;}
    .userInput input[type="text"] {margin:1rem 0 0; width:100%; text-overflow: ellipsis;}
    .userInput .input_menu {margin-left: 0;}
    .userInput .input_menu .input__flex .flex_02 {font-size: 1.4rem;}
    .userInput .input_menu .butArea {margin-left: 7.6rem !important;}
    .userInput .input_box02 {margin:0 1rem;}
    .inputtext {margin: 0.5rem 0 2rem; font-size: 1.4rem;}
    #dropzone {margin:1rem 0 0;}
    #dropzone .dropzone {width:100%; font-size: 1.4rem;}

    /* singUp */
    .logWrap.sing {padding:4rem;}
}
@media (max-width: 400px) {
    /* btn */
    .butArea .btn.btn_04 {padding:0.75rem 1rem;}
    .butArea .btn.btn_02 {padding:0.75rem 1rem;}
    .butArea .btn.btn_01 {padding:0.75rem 1rem;}

    /* singUp */
    .btn.re_btn.on {font-size: 1.4rem;}
    .logWrap .logtitle {font-size: 3rem;}
    .logWrap .singwrap .phone .select {font-size: 1.4rem;}
    #logUser {width:fit-content;}
    #logUser .btn.btn_02 {padding:0.5rem; font-size: 1.2rem;}
}
@media (max-width: 350px) {
    /* Dashboard */
    #section .dashboard_wrap .board_flex .boardbox .boardtext h2 {font-size: 2.4rem;}
    #section .dashboard_wrap .board_flex .boardbox .category_box {flex-flow: row wrap;}
    #section .dashboard_wrap .board_flex .boardbox .category_box >* {width: calc((100% - 20px) / 2);}
    #section .dashboard_wrap .board_flex .boardbox .category_box >*:last-child{margin-top:0.5rem;}

    .butArea .ml20 {margin-left: 0.5rem;}
    .butArea .btn.btn_04 {font-size: 1.2rem;}
    .butArea .btn.btn_02 {font-size: 1.2rem;}
    .butArea .btn.btn_01 {font-size: 1.2rem;}

    /* userinput */
    .userInput .flex .btn.btn_05 {padding:0.75rem 1rem;}
    .userInput input[type="text"] {padding:0.75rem 1rem;}
    .userInput .input_box02 input[type="text"] {padding:0.75rem 1rem;}
    .userInput .input_menu .butArea {margin-left: 7.6rem !important;}
    .userInput .input_menu .input__flex i.fa-minus {font-size: 0.6rem;}
    /* singUp */
    #logUser { width: -webkit-fill-available; flex-flow: column; align-items: flex-start;}
    #logUser .btn.btn_02 {top:55%; padding: 0.75rem;}
    #logUser .input_box {margin:0;}

}