@charset "utf-8";

/* Medium */
@font-face {
    font-family: 'GongGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'GongGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
/* font-family */
form input,.pagination,.label
section textarea, input[type="text"] {font-family: var(--f-St);}

/* color */
:root {
    --main_color: #0F0F0F;
    --stoke-gray: #9F9F9F;
    --point-color: #005ED4;
    --kakao-color: #FEE500;
    --black: #000;
    --red: #FF5353;
    --white: #fff;
    --orange: #F29500;
    --blue-25: #BDD0E7;
    --blue-30: #93B9E7;
    --blue-70: #6AA1E8;
    --blue-90: #2B7FE8;

    --f-St: 'GongGothic', sans-serif;
}

html {
    background-color: #000;
    scroll-behavior: smooth;
    /* 스크롤 부드럽게 */
    overflow-x: hidden;
    /* 가로 스크롤 제거 */
}

body>* {
    font-size: 1.6rem;
    font-weight: 100;
    font-family: var(--f-St);
    line-height: 150%;    
    white-space: nowrap;
}
/* font-weight */
.inner h2,h3, h4, 
.sidemenu ul li>a,
.btnStyle p
{font-weight: normal;}

.text-st, input, .text_input textarea,
.btn-s,.btn.blue,.btn.red,.btn.gr,.btn.wt,
.caption {font-weight: 200;}

/* ------------------------------------------
공통 css start
------------------------------------------ */
/* color */
.red {color:var(--red);}
.blue {color:var(--point-color);}
.none-bg {background:inherit !important;}

/* text */
.fs12 {font-size: 1.2rem !important;}
.fs14 {font-size: 1.4rem;}
.ta-c {
    text-align: center;
}

/* flex */
.flex {
    display: flex;
    align-items: center;
}
.jc {justify-content: center;}

.js {
    justify-content: space-between;
}
.ai-c {align-items: center;}
/* gap */
.gap-1 {
    gap: 1rem;
}

/* grid */
.grid {
    display: -webkit-grid; display: grid; 
  }
  .grid.col2 {
    -webkit-grid-template-columns: repeat(2, 1fr);grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .grid.col3 {
    -webkit-grid-template-columns: repeat(3, 1fr);grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .grid.col4 {
    -webkit-grid-template-columns: repeat(4, 1fr);grid-template-columns: repeat(4, 1fr);
  }
  .grid.col6 {
    -webkit-grid-template-columns: repeat(6, 1fr);grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
  }
/* margin-bottom */
.mb0 {margin-bottom: 0 !important;}
.mb10 {
    margin-bottom: 1rem;
}

.mb20 {
    margin-bottom: 2rem;
}

.mb30 {
    margin-bottom: 3rem;
}

/* margin-top */
.mt20 {
    margin-top: 2rem;
}
.mt30 {
    margin-top: 3rem;
}
.mt50 {
    margin-top: 5rem;
}
.mt8 {
    margin-top: 8rem;
}
.mt80 {
    margin-top: 15rem;
}
/* margin-left */
.ml-auto {margin-left:auto;}

/* padding */
.pt20 {padding-top: 2rem;}

.pb20 {padding-bottom: 2rem;}

/* width */
.w100 {width:100%;}

/* overflow */
.hidden {
    display: none;
}

/* br */
.br-s {display: none;}

/* position */
.rel {position: relative;}
.ab {position: absolute;}

/* boxStyle */
.boxStyle {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 4rem 2rem;
}

.boxStyle.bl {
    background: var(--point-color);
    padding: 2rem;
}

.boxStyle.wt {
    background: var(--white);
    padding: 2rem;
    color: var(--black);
}

.boxStyle.gr {
    background: #333333;
    padding: 2rem;
}

/* borderStyle */
.borderSt-dot {
    border: 1px dashed #fff;
    margin: 2rem 0;
}

/* btnStyle */
.btnStyle,
.btn,.btn-s,
.btn-outline {
    font-family: var(--f-St);
}


.btnStyle:hover p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn {
    width: 100%;
    color: white;
    border: none;
    padding: 1.4rem 2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
}

.btn.kakao {
    display: flex;
    justify-content: center;
    gap: .5rem;
    background: var(--kakao-color);
    color: var(--black);
}

.btn.blue,
.btn.red ,.btn.gr,
.btn.wt,
.btn-outline {
    border-radius: 5px;
}
.btn-i,.btn-s {border-radius: 4px;}

.btn.blue {    
    color:var(--white);
    background: var(--point-color);
}
.btn.red {    
    color:var(--white);
    background: var(--red);
}
.btn.gr {    
    color:#999;
    background: #f5f5f5;
}
.btn.wt {
    background:var(--white);
    color: var(--point-color);
    width: fit-content;
    padding: 1.4rem 3rem;
}

.btn-outline {
    border: 1px solid var(--point-color);
    color: var(--point-color);
    padding: 1.3rem;
    font-size: 1.4rem;
    max-width: 150px;
    width: 100%;
    background:var(--white);
}

.btn-outline.gr {
    background:transparent;
    border: 1px solid #999;
    color: #999;
    max-width: 100%;
    margin:1rem 0 0;
}

.btn-i {
    max-width: 35px;
    width: 100%;
    padding: 5.5px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-s {
    font-size: 1rem;
    padding:.7rem 1rem;
    color:#999;
    background: #f5f5f5;
}

.btnStyle {
    width: 100%;
    background-color: var(--point-color);
    color: white;
    border: none;
    padding: 1.7rem 2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btnStyle p {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    height: 0;
    transition: all 0.3s ease;
    font-size: 16px;
    color: var(--point-color);
    transform: translateX(-50%);
    display: none;
}

.btnStyle img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 0;
    transition: all 0.3s ease;
}

.btnStyle:hover img {
    height: 100%;
    top: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    padding-bottom: 7px;
}
.btnFlex {
    display: flex;
    gap: 1rem;
}

.btnFlex .btn-outline {max-width: 100%;}
/* tag */
.tag {
    width: 58px;
    text-align: center;
    font-size: 1.2rem;
    padding: .3rem;
    border: 1px solid;
    border-radius: 5px;
    height: fit-content;
    background: #F0F0F0;
}

.tag.red {
    border-color: var(--red);
    color: var(--red);
    background: #FFF5F5;
}

.tag.blue {
    border-color: var(--point-color);
    color: var(--point-color);
    background: #F1F7FE;
}

.tag.org {
    border-color: var(--orange);
    color: var(--orange);
    background: #FEF9F0;
}

/* label */
.label {
    font-size: 1.25rem;
    border: 1px solid var(--point-color);
    border-radius: .5rem;
    padding: .3rem 10px;
    color: var(--point-color);
}
.label.manager {    
    color: #7090B0;
    border-color: #7090B0;
}
.label.fran{
    color: #F29500;
    border: 1px solid #F29500;
}
.label.notice {
    color: var(--red);
    border-color: var(--red);
}

label.plus {
    background:var(--white);
    color: var(--black);
    font-size: 1rem;
    border-radius: 99px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    position:absolute;
    top: 25%;
    right: 15%;
    transform: (-50%,-50%);
}
.label.full {
    background: var(--point-color);    
    color:var(--white);
    font-size: 1.2rem;
    text-align: center;
}


/* input */
input[type="text"],input[type="password"]{
    width: 100%;
    padding: 1rem 1.4rem;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    font-size: 1.4rem;
    background-color: white;
    position: relative;
}
input[type="date"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: .4rem;
    font-size: 14px;
}

.inputWrap .data_input {display: flex; align-items: center; margin-bottom: 1rem; gap: 1rem; transition: all 1s linear;}
.inputWrap .data_input p {font-size: 1.4rem; width:40%; white-space: nowrap;}

.inputWrap.St02 .data_input > p {width:100%;}
.inputWrap.St02 .data_input .in-box p {width: auto;}


.text_input {display: flex; flex-flow: column; }
.text_input textarea {font-size: 1.4rem; color:#999; padding:1.2rem; border-radius: .4rem;}
.text_input p {margin-bottom: 1rem;font-size: 1.4rem;}

/* select */
.select-box {
    width: 100%;
    max-width: 16rem;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .select-box select {
    font-family: var(--f-St);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 6px;
    padding: 0.8rem 1rem ;
    font-size: 11px;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    letter-spacing: -0.03rem;
    color:var(--white);
  }
  .select-box select:focus {
    color: #000;
  }
 
  
  .select-box i {
    position: absolute;
    right:12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    color: var(--white);
    transition: transform 0.15s ease-in;
    pointer-events: none;
  }
  
  .select-box.user01 select {    
    color: var(--point-color);
    border: 1px solid var(--point-color);
  }  
  .select-box.user01 i {color: var(--point-color);}

  .select-box.user02  select{    
    color: #7090B0;
    border: 1px solid #7090B0;
  }  
  .select-box.user02 i {color: #7090B0;}
  .select-box.user03 select {    
    color: #F29500;
    border: 1px solid #F29500;
  } 
  .select-box.user03 i {color: #F29500;}
/* checked */
input[type="checkbox"] {
    appearance: none;
    max-width: 16px;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    outline: 0;
    border-radius: 4px;
  }
  input[type="checkbox"]:checked {
    border-color: var(--point-color);
    background-color: var(--point-color);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='var(--black)' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
/* table */
.tableArea {width:100%; margin-bottom: 2rem;}
.tableArea table {width:100%; text-align: center; border-collapse: collapse; overflow: hidden;font-size: 1.4rem; line-height: 130%;;}
.tableArea thead tr {
    color:#999;
    border-bottom: 1px solid var(--stoke-gray);
}
.tableArea tr th ,.tableArea tr td  {padding: .5rem; white-space: nowrap;}
.tableArea tr td  {font-size: 1.2rem;}
.tableArea tbody tr {cursor: pointer; background: rgba(255, 255, 255, 0);  transition: backgrond 2s ease-in-out;}
.tableArea tbody tr:hover {background: rgba(255, 255, 255, 0.2);}
.tableArea.St02 {margin-bottom: 8rem;}
.tableArea.St02 tr td,.tableArea.St02 tr td .tag { font-size: 1rem;}
.tableArea.St02 tr th{ font-size: 1.1rem;}

/* ------------------------------------------
공통 css end
------------------------------------------ */


/* ------------------------------------------
normal start
------------------------------------------ */

section {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

h3 {font-size: 1.8rem;}
h4 {
    font-size: 1.5rem;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-st {
    font-size: 1.4rem;
    /* width:115px; */
}
.protext {font-size: 1.6rem;}
.caption {
    font-size: 1.2rem;
    color:#999;
}
/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
    width: 5px;
    /* 스크롤바 너비 */
}

/* 스크롤바 트랙 (바탕) */
::-webkit-scrollbar-track {
    background: #000;
    /* 연한 회색 배경 */
    border-radius: 5px;
    /* 둥근 모서리 */
    border: 1px solid #323232;
    /* 테두리 추가 */
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
    background: #fff;
    /* 스크롤바색 */
    border-radius: 5px;
    /* border: 2px solid rgb(26, 26, 26); 테두리색 */
}

/* 스크롤바 핸들 (hover 시) */
::-webkit-scrollbar-thumb:hover {
    background: #909090;
    /* 더 어두운 회색 */
}

/* 마우스를 따라다니는 원형 커서 */
.custom-cursor {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 40px;
    /* 원 크기 */
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    /* 기본 반투명 검은색 */
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    pointer-events: none;
    /* 클릭 방해 방지 */
    transform: translate(-50%, -50%);
    transition: transform 0.1s linear, background-color 0.2s ease, width 0.2s ease, height 0.2s ease;
}


/* 탑버튼 설정 */
#topButton {
    position: fixed;
    bottom: 110px;
    right: 40px;
    padding: 10px 15px;
    background-color: var(--point-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9000;
    /* 다른 요소 위에 표시되도록 */
}

#topButton:hover {
    background-color: #0056b3;
}

#topButton img {
    rotate: 180deg;
    margin-bottom: 0.8rem;
    scale: 0.8;
}
/* ------------------------------------------
normal end
------------------------------------------ */

/* ------------------------------------------
header start
------------------------------------------ */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 0 2rem;
    height: 80px;
    width: 100%;
    /* 전체 너비를 사용 */
    max-width: 450px;
    /* 최대 너비를 설정 (필요에 따라 조정) */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background: var(--black);
}

/* 메뉴설정 */
.menuWrap {
    position: relative;
}

.sidemenu {
    position: absolute;
    width: 220px;
    height: auto;
    right: 0;
    top: 150%;
    background-color: var(--main_color);
    border: 1px solid var(--stoke-gray);
    border-radius: 10px;
    padding: 1rem;
    display: none;
}

.sidemenu a {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.sidemenu a:hover {
    background-color: #282828;
}

.sidemenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidemenu ul li {
    width: 200px;
    margin-bottom: 0.5rem;
}

.sidemenu ul li:last-child {
    margin: 0;
}

.sidemenu ul li>a {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}

.sidemenu ul li p {
    padding-left: 1.5rem;
}

.sidemenu .subemenu>a {
    font-size: 16px;
    height: 2.9rem;
    margin: 0.5rem 0;
}

.sidemenu .subemenu p {
    padding-left: 2.5rem;
}

.sidemenu .subemenu {}

.sidemenu a {
    width: 200px;
    height: 50px;
}

.hamburger {
    width: 40px;
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    scale: 0.8;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
    transition: 0.3s;
    border-radius: 4px;
}

/* 메뉴 열릴 때 */
.hamburger.open span:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}
/* header end ------------------------------------------ */

#main-content {
    height: 100%;
}

.inner {padding:0 2rem; margin-bottom: 2rem;}

.inner h2 {
    font-size: 2rem;
}
section p {
    font-size: 2rem;
}

section>* {
    width: 100%;
}

/* ✅ 480px 이하 (모바일 작은 화면) */
@media (max-width: 425px) {
    /* br */
    .br-s {display: block;}

    /* input */
    input[type="date"] {width:30%;}


    body {
        padding: 0;
    }

    
    /* font-size */
    .inner h2, 
    section p {font-size: 1.6rem;}

    /* header */
    header {
        height: 60px;
    }
    /* sidemenu */
    .sidemenu {
        position: absolute;
        width: 170px;
        height: auto;
        right: 0;
        top: 130%;
        background-color: var(--main_color);
        border: 1px solid var(--stoke-gray);
        border-radius: 10px;
        padding: 1rem;
        display: none;
    }
    .sidemenu ul li {
        width: 140px;
        margin-bottom: 0.5rem;
    }
    .sidemenu ul li:last-child {
        margin: 0;
    }
    .sidemenu ul li>a {
        width: 100%;
        font-size: 14px;
        font-weight: 100;
        border-radius: 5px;
    }
    .sidemenu ul li p {
        padding-left: 1rem;
    }
    .sidemenu .subemenu>a {
        font-size: 12px;
        height: 2.9rem;
        margin: 0.5rem 0;
    }
    .sidemenu .subemenu p {
        padding-left: 1.5em;
    }
    .sidemenu a {
        width: 140px;
        height: 30px;
    }
    /* hamburger */
    .hamburger {
        width:34px;
    }
    

}