/* ---- contents Start ---- */
/* #Wrap {width: 100%; height: 100%; padding-top:7rem; position: relative; margin:0 auto; background: center bottom / contain no-repeat url(../image/bg_line.png) var(--bg); bottom: 0; z-index: 0;} */

#Wrap {width: var(--full); height: 100vh; padding: 12rem 0 3rem; position: relative; margin:0 auto; background: center bottom / contain no-repeat url(../image/bg_line.png) var(--bg); bottom: 0; z-index: 0; /*min-width: 1920px; */}
#Wrap .inner .container .dashWrap {display: -webkit-grid; display: grid; height: 100%;-webkit-grid-template-columns:1fr 3fr 1fr; gap: 2rem; grid-template-columns:1fr 3fr 1fr;}
#Wrap .inner .container .dashWrap .box {display: flex; flex-flow: column; gap:2rem; justify-content: space-between;}
#Wrap .inner .container .dashWrap .box,
#Wrap .inner .top,
#Wrap .inner .container .dashWrap .top >* {width:100%; text-align: center;}
#Wrap .inner .container .dashWrap >.imgArea {display: flex; align-items: center;}
#Wrap .inner .top .btnWrap {display: flex; flex-flow: row wrap; gap: 1rem; justify-content: space-between;}
#Wrap .inner .top .btnWrap >* {width:calc(96% / 2);}
#Wrap .inner .top .topBox {margin-bottom:2rem;}
#Wrap .inner .bottom .flex p {display:flex; align-items: center; flex-flow: column; margin-top:2rem;}
#Wrap .inner .bottom .flex p .colorDot {margin-bottom:0.5rem;}
#Wrap .inner .container .dashWrap .title  {margin-bottom: 0;}
#Wrap .inner .container .dashWrap .neonLineSt {margin-top: 0;}
#Wrap .inner .container .dashWrap p {font-size: var(--fs16); color:var(--white); text-align: center;}
#Wrap .inner .container .dashWrap .list >* {margin-bottom:1rem;}
#Wrap .inner .container .dashWrap .list >*:last-child {margin-bottom:0;}
#Wrap .inner .container .dashWrap .list .box {display: flex; flex-flow:row; background:#162D52; border-radius: 1rem; padding:2rem 1.5rem; align-items: center; justify-content: flex-start;}
#Wrap .inner .container .dashWrap .list .box .title{ margin:0; font-size: var(--fs16);}
#Wrap .inner .container .dashWrap .list .box .title::before {padding-left:0;}
#Wrap .inner .container .dashWrap .list .box .numBox {display: flex; flex-direction: row; gap:2rem; flex-wrap: wrap;}

/* logWrap */
#Wrap.log {padding-top:0;}
#Wrap.log .inner {margin:0 auto;}
#Wrap.log .container {display: flex; align-items: center; height: -webkit-fill-available;}
#Wrap.log .logWrap {width:460px; height: fit-content; margin:0 auto;}
#Wrap.log .logWrap h1 {box-sizing: var(--shadow02); text-align: center; margin-bottom: 4rem; font-weight: 500;}
#Wrap.log .logWrap .logInput .input_box {display: block; height: -webkit-fill-available; }
#Wrap.log .logWrap .logInput .input_box input {border-radius: 1.5rem; padding:3rem 2rem;}
#Wrap.log .logWrap button {width:var(--full); margin-top: 1rem;}

/* contronl */
#Wrap .inner .tab-container .neonTitle { font-size: 1.4rem; font-weight: 500; ;}
#Wrap .inner .tab-container .tab-content .tab_con .box .itemBox .item_list .hide {height: 156px;}
#Wrap .inner .tab-container .tab-content .tab_con .box:nth-child(2) .itemBox .item_list .hide {height: 172px;}
#Wrap .inner .tab-container .tab_con .bd_St1 .data_list .item:first-child,
#Wrap .inner .tab-container .tab_con .bd_St2 .data_list .item:first-child {margin-top:0;}

/* setting */
#Wrap .setWrap {-webkit-grid-template-columns: repeat(3, 1fr);grid-template-columns: repeat(3, 1fr); height: 485px;}
#Wrap .setinner {display: grid; -webkit-grid-template-columns: 3fr 1fr;grid-template-columns: 3fr 1fr; gap: 2rem;}
#Wrap .setinner .setChart .chart .imgArea {margin:1rem 0 2rem;}
#Wrap .setinner .setChart .chart .lineTitle {font-size: var(--fs16);}
#Wrap .inner .container .setinner .setBox .flex {margin-bottom: 2rem;}
#Wrap .inner .container .setinner .setBox .flex .title {margin-bottom:0;}
/* 03 */
#Wrap .inner .container .setinner .setBox .tableArea1 .tg td:first-child {text-align: start; padding-left: 4rem;}
#Wrap .inner .container .setinner .setBox .tableArea1 .tg td:last-child {padding-right: 4rem;}
#Wrap .inner .container .setinner .setBox .tableArea1 .tg td {width:auto;}
#Wrap .inner .container .setinner .setBox .tableArea1 .tg tbody {padding:0 4rem;}

#Wrap .inner .w45 {width:450px !important;}
#Wrap .inner #tabStyle.St1 {margin: 5rem 0 0;}
#Wrap .inner #tabStyle.St1 .tabFlex {display: flex; gap:2rem; justify-content: space-between;}
#Wrap .inner #tabStyle.St1 .tabFlex .tabBox {width: 72%;}
/* 04 */
#Wrap .inner #tabStyle.St1 .tab-content .Box .BoxStyle {padding:0 1rem;}

#Wrap .inner #tabStyle.St2 .tabMenu.ab {position:absolute; top:115%; width:40%; transform: translate(0, 115%);}
#Wrap .inner #tabStyle.St2 .tab-content .tabWrap {height: 565px; width: 700px;}
#Wrap .inner #tabStyle.St2 .tab-content .tabWrap .flexBox {display: flex; flex-flow: column;align-items: flex-end; justify-content: space-between; height: -webkit-fill-available;}


/* data */
#Wrap .inner #tabStyle .tab-content .BoxStyle2 {width: 694px; height: 405px; margin-top:14rem; padding:2.5rem 4rem;}
#Wrap .inner #tabStyle .tab-content .BoxStyle2 .dataBox {display: flex; justify-content: flex-start;; gap:2rem;}
#Wrap .inner #tabStyle .tab-content .BoxStyle2 .dataBox .data {width:38%;}
#Wrap .inner #tabStyle .tab-content .BoxStyle2 p,
#Wrap .inner #tabStyle .tab-content .BoxStyle2 h5 {color:var(--text02); font-size: var(--fs16); line-height: 1.2;}
#Wrap .inner #tabStyle .tab-content .BoxStyle2 h5 {margin-bottom: 2rem; text-align: start;}
#Wrap .inner #tabStyle .tab-content .BoxStyle2 .txt {text-align: start;}
#Wrap .inner #tabStyle .tab-content .BoxStyle2 .txt p {margin-bottom: .5rem; }
/* 08 */
#Wrap .inner #tabStyle .tabFlex .tabBox .grid .Box .inputList .input_box input {width: 80%;}
#Wrap .inner #tabStyle .tabFlex .tabBox .grid .Box .inputList .flex .input_box input {width:50%;}

/* inputList */
.inputList .inWrap, .inputList .inWrap .inbox {display: flex; flex-flow: row; justify-content: space-between; gap:2rem; align-items: baseline;}
.inputList .inWrap, .inputList .inWrap .input_box,
.inputList .inWrap, .inputList .inWrap .inbox .input_box {justify-content: flex-start;}
.inputList .inWrap, .inputList .inWrap .input_box input {width:27%;}
.inputList .inWrap, .inputList .inWrap .inbox .input_box input {width:85px;}
.inputList .inWrap .inbox .selectBox .select {width:100px;}
.inputList .inWrap, .inputList .inWrap .input_box p {width:110px;}

#Wrap .inner #tabStyle.St2 .tab-content .tableArea2 {border-collapse: collapse;  max-height: 390px; overflow: auto;}

#Wrap .inner #tabStyle .checkInput {display: flex; justify-content: space-between;  height: 71%;}

/* 09 */
#Wrap .inner #tabStyle.St2.mt20 .set09 .tabList .tableFlex .tableArea .tg tbody tr >*:nth-child(n+3):nth-child(-n+4) {text-align: start;}
/*
--------------------------------------- 
popupStyle 
--------------------------------------- 
*/
body.popup-open {overflow: hidden;}
.popupWrap {display: none; position: fixed; bottom: 0; right: 0; width: 640px; height: calc(100% - 80px); justify-content: center; align-items: center; z-index: 1000; background:linear-gradient(90deg, rgba(11,23,50,1) 0%, rgba(15,29,60,1) 15%);}
.popupWrap .closeBtn {position:absolute; top:5%; left: 6%; transform: translate(6%,-50%); }

/* ---- contents end ---- */

@media screen and (max-width:2560px) {
    #header .menu, #header .submenu {padding-right: 40rem;}
    /* #header .subwrap {top:94px;} */
}

@media screen and (max-width:1920px) {
    /* #header {height: 92px;} */
    #header .menu, #header .submenu {padding-right: 16rem;}
    #header .menu li > a {padding:2.2rem 2.5rem;}
    #header .menu li {height: -webkit-fill-available;}
}

@media screen and (max-width:1500px) {
    /* #header {height: 77.05px;}
    #header .subwrap {top:77.05px;} */
    #header .menu, #header .submenu {padding-right: 0;}
    .inner {padding:2rem;}
    .inner,.tab-container, .tab-content {width: 100%;}
    .inner,.tab-container {max-width: 100%;}
    #tabStyle .tab-container .tabs {width:894px;}
}