@charset "utf-8";
/* font */
@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
* {box-sizing: border-box;}
html > body	{font-size: 1.6rem; line-height: 1; color:#fff; background: var(--bg);
  font-family: "Noto Sans Korean", "Helvetica Neue", Helvetica, Arial, sans-serif; }

:root {
/* color */
--white: #fff;
--sky:#00D6FF;
--text:#000;
--text01:#5F616E;
--text02:#999;
--header_navy: #1D3056;
--submenu :#334774;
--tg_header: #123A72;
--tg_body: #162D52;
--t_sky1:#66CCCC;
--hover_sky:#2DAADC;
--line_sky:#0F92B9;
--line_gray:#a9a9a9;
--btn:#025DA4;
--radio:#1343E0;

/* background */
--bg: #0F1D3C;
--bg2 :#003366;
--bg3 :#577ead;
--tab_bg:#172A4E;
--bg_gray:#EAEAEA;

/* shadow */
--shadow: 0px 0px 8px rgb(45 170 220 / 50%);
--shadow01: 0px 0px 5px rgb(45 170 220 / 20%);
--shadow02: 0px 0px 10px rgb(0 0 0 / 20%);
--shadow_naon: 0px 0px 8px rgb(102 204 204 / 50%);
/* size */
--full: -webkit-fill-available;
/* font */
--font_sans:'Gmarket Sans';
--fs12:1.2rem;
--fs14:1.4rem;
--fs16:1.6rem;
--fs15:1.5rem;
--fs18:1.8rem;
--fs20:2rem;
--fs22:2.2rem;
--fs24:2.4rem;
}
/* contents */
.inner {margin: 0 auto; max-width: 1735px; width: -webkit-fill-available; height:var(--full);}

/* color */
.sky {color:var(--t_sky1) !important;}

/* display */
.hide {display: block;}

/* position */
.rel {position: relative;}
.ab {position: absolute;}

/* margin */
.mt10 {margin-top:1rem;}
.mt20 {margin-top:2rem;}
.mt50 {margin-top:5rem;}
.mt56 {margin-top:5.6rem;}
.mt60 {margin-top:6rem;}

.mb10 {margin-bottom:1rem;}
.mb20 {margin-bottom:2rem;}
.mb30 {margin-bottom:3rem;}
.mb40 {margin-bottom:4rem;}
.mb60 {margin-bottom:6.4rem;}

.mrAuto {margin-right:auto;}
.mr10 {margin-right:1rem;}
.mr20 {margin-right:2rem;}

.mlAuto {margin-left:auto;}
.ml10 {margin-left:1rem;}
.ml20 {margin-left:2rem;}

/* padding */
.px0 {padding-left: 0; padding-right: 0;}
.px30 {padding:0 3rem; }

.pt140 {padding-top:11rem;}

/* height */
.h100 {height: 100%;}

/* width */
.w_10 {width:1000px;}
.w100 {width:100%;}
.w45 {width:450px;}

/* style */
.noneStyle {border:0 !important; }
.none {display: none;}

/* flex */
.flex, .flexCol {display:flex; }
.flex { align-items: center; justify-content: space-between;}
.flex_se {justify-content: space-evenly;}
.flexCol {flex-flow:column;}
.alEnd {align-items: flex-end;}
.justEnd {justify-content: flex-end;}

.flex_cont3 {width: calc(97% / 3);}
.flex_cont4 {width: calc(96% / 4);}

/* grid */
.grid {display: -webkit-grid; display: grid !important; gap: 3rem;}
.grid2 {display: -webkit-grid; display: grid !important; grid-auto-flow: dense; gap: 2rem; align-items: stretch;}
.gridCol1_2 {-webkit-grid-template-columns: 1fr 2fr; grid-template-columns: 1fr 2fr;}
.gridCol2 {-webkit-grid-template-columns:1fr 1fr; grid-template-columns:1fr 1fr;}
.gridCol2_1 {-webkit-grid-template-columns:2fr 1fr; grid-template-columns:2fr 1fr;}
.gridCol3 {-webkit-grid-template-columns: repeat(3, 1fr);grid-template-columns: repeat(3, 1fr); }
.gridCol4 {-webkit-grid-template-columns: repeat(4, 1fr); grid-template-columns: repeat(4, 1fr); }
.gap_4 {gap: 3.5rem;}

/* border */
.bd_St, .bd_St1, .bd_St2 {border:1px solid var(--hover_sky); border-radius: 0.8rem; box-shadow: var(--shadow01);}
.bd_St1 {padding:1.5rem 1rem;}
.bd_St2 {border-color:#9F9F9F;}
.bd_Bot {border-bottom: 2px solid var(--line_gray); padding-bottom: 2rem; margin-bottom: 2rem;}

/* lineStyle */
.neonLineSt {position:relative; margin:1.5rem 0 2rem; display: flex; justify-content: center; padding-bottom: 1.5rem; font-size: var(--fs16);}
.neonLineSt::before {position: absolute; content: ''; left:0; bottom: 0; width: 100%; height: 1.2px; background: linear-gradient(to right, transparent, #66cccc, transparent);}

/* img */
.imgArea img {max-width:100%; overflow:hidden; margin: 0 auto;}

/* colorDot */
.colorDot {display: flex; flex-flow: column; align-items: center; margin-top:2rem;}
.colorDot.row {flex-flow: row; justify-content: flex-start;}
.colorDot span {display: block; width: 1rem; height: 1rem;  border-radius: 50px; background: #006699;  }
.colorDot.row span {margin-bottom:0; margin-right:1rem; }
.colorDot span.dot2 {background: #3399CC;}
.colorDot span.dot3 {background: #999999;}
.colorDot p {font-size: var(--fs16); margin-top:.5rem;}
/* dotBox */
.dotBox {display: flex; flex-flow: column; justify-content: flex-start; padding: 0 2rem;}
.dotBox .colorDot.row:not(first-child) {margin-top: 1rem;}

/* numTag */
.num {display: flex; align-items: center; justify-content: center; width: 35px; height: 35px; padding:0 0.5rem; border:1px solid ; border-radius: 99px; text-align: center; outline: 2px solid #999; background:#999;}
.num.st1 {background: #FF6666; outline: 2px solid #FF6666;}
.num.st2 {background: #FF9900; outline: 2px solid #FF9900;}
.num.st3 {background: #FF6600; outline: 2px solid #FF6600;}

/* btn */
.btn {padding:1.5rem 1rem; font-size: var(--fs16); font-weight: 500; color:var(--white); -webkit-transform: translateZ(0); transform: translateZ(0); transition: background-color 0.3s;}
.btn.btn01 {border:2px solid var(--hover_sky); border-radius: 0.8rem; width:150px;}
.btn.btn01 sup {font-size: 0.8rem;}
.btn.log {background:var(--hover_sky); border-radius: 1.5rem; padding: 2rem;} 
.btn.btn02 {display: flex; align-items: center; border-radius: 0.8rem; background: var(--btn); padding:1rem 3rem;}
.btn.btn02 img {margin-right:0.5rem}

.btn.btn03 {font-size: var(--fs14);  background: var(--btn); padding: 1rem 1.2rem; width: 100px; border-radius: .8rem; border:1px solid var(--line_gray);}

.btn.btn01:hover {background:var(--hover_sky);}
.btn.btn02:hover {background: var(--bg3);}
.btn.btn01.on {background:var(--hover_sky);}
.btn.btn02.on {background: var(--bg3);}
.btn.log.on {box-shadow:0 0 0 2px var(--hover_sky) inset; background:var(--sky);}

.btnWrap {display: flex; align-items: stretch; gap: 2rem;}

/*
--------------------------------------- 
Text Style
---------------------------------------
*/
h1 {font-size: 3rem; font-weight: 700;}
sup {font-size: 0.8rem;}
.fs18 {font-size: var(--fs18);}
.fs16 {font-size: var(--fs16); font-weight: 300;}

/* title */
.title, .neonTitle, .lineTitle, .lineTitle2 {font-size: var(--fs16);}
.title { font-weight: 500; text-align: center; position: relative; margin-bottom: 2rem; white-space: nowrap;}
.title::before , .title::after {display:inline-block; content: '|'; font-size: var(--fs16); font-weight: 100; padding:0 1rem; }

/* neonTitle */
.neonTitle {font-weight: 600; line-height: 1.2; padding:1rem; border:4px solid var(--t_sky1); border-radius: 99px; white-space: nowrap; box-shadow: var(--shadow_naon); margin-right:1rem; width: 90px; height: 75px; display: flex; align-items: center; text-align: center;justify-content: center;}

/* lineTitle */
.lineTitle {position: relative; background:var(--tab_bg); display: flex; justify-content: center; padding:1rem 0;}
.lineTitle::before, .lineTitle::after {position: absolute; content: '';background: linear-gradient(to right, transparent, #66cccc, transparent);width: 100%; height: 1.2px; }
.lineTitle::before {top:0;}
.lineTitle::after { bottom: 0;}

.lineTitle2 {background:var(--tab_bg); border-top:3px solid var(--hover_sky); border-bottom: 3px solid var(--line_gray); padding:1.5rem 1rem; text-align: center;}

/* textDeco */
.bold {font-weight: bold; }
.center {text-align: center;}
.end {text-align: end;}
.start {text-align: start;}
.nowrap {white-space: nowrap;}
/* txtShot */
.txtShot {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/*
--------------------------------------- 
list all Style 
---------------------------------------
*/
/* data_list */
.data_list {width:var(--full);}
.data_list .item {display: flex; justify-content: space-evenly; font-size: var(--fs16); }
.data_list .item:first-child {position: relative; margin:1rem 0;padding-bottom:1rem;}
.data_list .item:first-child::after {position: absolute; content: ''; bottom: 0;  width: 100%;height: 2px; background: linear-gradient(to right, transparent, #66cccc, transparent);}
.data_list .item dt {font-weight: bold;}
.data_list .item dd {font-weight: 300;}

.data_list.St2 {background: var(--tg_header); border-radius: 4px; font-size: var(--fs14); }
.data_list.St2 .item {padding:1rem;}
.data_list.St2 .item:not(:last-child){ margin:0; }
.data_list.St2 .item:not(:last-child)::after {display: none;}
.data_list.St2 .item:last-child {background: var(--tg_body); border-radius: 0 0 4px 4px;}

/* item_list */
#listSt {display: flex; justify-content: space-between; margin-top: 1.5rem; flex-flow: row wrap; gap:1.5rem; padding: 0 2rem;}
#listSt .item {width:calc((98% - 2rem) / 2);}
#listSt img {margin:.5rem auto;}
#listSt.item_list p {color:var(--text02); font-weight: bold; font-size: var(--fs16);}
#listSt .txt {background: var(--tab_bg); border-radius: 4px; font-size: var(--fs14);}
#listSt .txt >* { padding:.5rem 1rem;}
#listSt .txt.St2 >* {display: flex; gap: .5rem 1rem;}
#listSt .txt.St2 dd {background-color: rgba(153, 153, 153, 0.4); border-radius: 0 0 4px 4px;}
#listSt .txt.St2 span {width:var(--full); white-space: nowrap;}

/* box_list */
#listSt.box_list {width: 40%; height: 684px; padding:0;}
#listSt.box_list .item {border:2px solid var(--hover_sky); box-shadow: var(--shadow); border-radius: 0.8rem; height: min-content;}
#listSt.box_list .item.hide {border:0; box-shadow: inherit;}
#listSt.box_list h3 {font-size: var(--fs16); font-weight: bold; padding:1.2rem; background: var(--tg_body); text-align: center; border-radius: 0.8rem 0.8rem 0 0;}
#listSt.box_list .txt {background:var(--tg_header); margin:1.2rem 1.5rem;}
#listSt.box_list .txt >* {display: flex; gap: 1rem; padding:1.3rem 2rem;}
#listSt.box_list .txt dd {background-color: var(--tg_body); border-radius: 0 0 4px 4px;}
#listSt.box_list .txt span {width:var(--full); white-space: nowrap; }
#listSt.box_list .txt span:last-child {text-align: end;}

/* -- tableArea -- */
.tableArea {width:100%; overflow-x: auto;}
.tableArea .tg, .tableArea1 .tg, .tableArea2 .tg, .tableArea3 .tg, .tableArea4 .tg {width:100%; text-align: center; border-collapse: collapse;}
.tableArea .tg, .tableArea2 .tg {border-bottom:3px solid var(--line_gray); }
.tableArea thead, .tableArea2 thead {background:var(--bg_gray); color:var(--bg); }
.tableArea .tg tr >* {padding:1.2rem .8rem;white-space: nowrap;}
.tableArea .tg thead th {font-size: var(--fs18);}
.tableArea .tg tbody, .tableArea2 .tg tbody {background:var(--bg); }
.tableArea .tg tbody tr,.tableArea2 .tg tbody tr {border-bottom: 1px solid rgba(215,215,215,.5);font-size: var(--fs16); font-weight:normal; white-space: nowrap;}

.tableArea1 .tg {border:none;}
.tableArea1 .tg thead th {font-size: var(--fs18); padding:1.4rem 1rem;}
.tableArea1 .tg tbody td  {font-size: var(--fs16); font-weight:normal; padding:1.4rem 1rem;}
.tableArea1 .tg tbody tr {height: 38px;}
.tableArea1 .tg tbody tr:nth-child(odd) {background: rgba(255, 255, 255, 0.1);}
.tableArea1 .tg th:first-child, .tableArea1 .tg td:first-child,
.tableArea1 .tg th:last-child, .tableArea1 .tg td:last-child {width:41%;}
.tableArea1 .tg th, .tableArea1 .tg td {width:18%;}

.tableArea2 .tg tr >* {padding:1rem .8rem;  border-left: 1px solid rgba(215,215,215,.5); white-space: nowrap; height: 38px;}
.tableArea2 .tg tr {font-size: var(--fs16);} 
/* .tableArea2 .tg tr >*:first-child {border-left: 0;} */

.tableArea3 .tg{border-collapse: collapse;  border-radius: 0.8rem 0 0 0.8rem; overflow: hidden;}
.tableArea3 tr >*{background:var(--white); padding:1.4rem ; color:var(--bg); border:1px solid var(--hover_sky); white-space: nowrap;}
.tableArea3 .tg td.style {color:var(--white); border-collapse: collapse;  border-radius: 0.8rem 0 0 0.8rem; overflow: hidden; width: 15%; text-align: start;}

.tableArea4 .tg {border-collapse: collapse;  border-radius: 0.8rem 0.8rem 0 0 ; overflow: hidden; }
.tableArea4 .tg thead tr {border:1px solid var(--hover_sky); border-collapse: collapse;  border-radius: 0.8rem 0.8rem 0 0 ; overflow: hidden; color:var(--white); }
.tableArea4 .tg tbody tr >* {background:var(--white); font-size: var(--fs16); color:var(--text); border-left: 1px solid rgba(215,215,215,.5); border-bottom:1px solid rgba(215,215,215,.5);}
.tableArea4 .tg tr >* {padding:1.4rem; white-space: nowrap;}

/* tgTitle */
.tgTitle {display: flex; justify-content: space-evenly; font-size: var(--fs18); background: var(--bg2); border-radius: 0.5rem; padding:1rem; margin:0 4rem 3rem;}
.tgTitle >* {width:var(--full); text-align: center;}
.tgTitle >*:nth-child(2) {border-left: 1px solid var(--white);border-right: 1px solid var(--white);}
.tgTitle2 {width:100%; text-align: center; background: var(--bg2); padding:1.2rem 1.5rem; border-bottom: 3px solid var(--hover_sky); border-top:3px solid var(--text01);}

/* tableFlex */
.tableFlex {display: flex; flex-flow: column;}

/* tgDay */
.tgDay {width:var(--full); text-align: end; margin-bottom: 3rem;}
.tgDay span { border-radius: 99px; background: rgba(255, 255, 255, 0.1); font-size: var(--fs14); font-weight: normal; padding: 1rem 2rem;}

/*
--------------------------------------- 
Check Style 
--------------------------------------- 
*/
.Check {-webkit-display: flex; display: flex; align-items: center;}
.Check input[type="checkbox"] {appearance: none; width:16px; height: 16px; border: 1px solid var(--text_gray); box-sizing: border-box; outline: 0; border-radius: 4px; margin-right: 0.5rem;}
.Check input[type="checkbox"]:checked {border-color:var(--purple); background-color: var(--purple); background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");}
/* check style02 */
input[type="checkbox"].dotCheck {width:20px; height: 20px; border: 1px solid var(--text_gray);  border-radius: 50px; margin-right: 0.5rem; background: url("../image/check_dot.svg") no-repeat 50% 50%;}
input[type="checkbox"]:checked.dotCheck {border-color:var(--purple); background-color: var(--purple); background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");}

/* checkEvent */
.checkEvent {box-shadow: var(--shadow); padding: 2rem; border-radius: 2rem; background: var(--white);}
.checkEvent input[type="checkbox"].dotCheck {border: 1px solid var(--text_gray); background: url("../image/check_dot.svg") no-repeat 50% 50%;}
.checkEvent.on {border:1px solid var(--purple);}
.checkEvent.on input[type="checkbox"]:checked.dotCheck {border-color:var(--purple); background-color: var(--purple); background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");}

/*
--------------------------------------- 
inputStyle 
--------------------------------------- 
*/
.selectBox {display: flex; align-items: center; gap: 2rem;}
.selectBox .select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border:0 none; width:180px; height:38px; padding:1rem 0 1rem 2rem; font-size: var(--fs16); color:var(--bg); background: #fff url('../image/select_icon.svg') no-repeat 100% 50%; border:1px solid var(--hover_sky); border-radius: 1rem; transition: all 0.3s ease; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
/* selectBox 커스텀 */
.selectBox .select:active { background-color: var(--active-bg); border-color: var(--hover_sky); box-shadow: var(--shadow);}
.selectBox .select:focus {box-shadow: var(--shadow); outline: none;color:var(--bg2);  }
.selectBox select:focus option {background-color: var(--focus-option-bg);}
/* .selectBox select::-ms-expand{display:none;} */

/* searchBox */
.searchBox {width: -webkit-fill-available;}
.searchBox fieldset{border:0 none; vertical-align:top; -webkit-display: flex; display: flex; width:auto;} 
.searchBox fieldset >* {margin-right:2rem;}
.searchBox fieldset >*:last-child {margin-right:0;}
.searchBox input[type="text"]{padding:1rem 2rem; color:var(--white); border:1px solid var(--hover_sky); border-radius: .8rem; font-size: var(--fs16); background:transparent; font-weight: 400; position: relative;}
.searchBox .rel i {position: absolute; content: ""; font-size: var(--fs16); color: var(--white); top: 60%; right: 8%; transform: translate(8%,-40%); cursor: pointer; height: 38px;}
/* searchInBox */
.searchInBox {width:100%; position:relative;}
.searchInBox img {position: absolute; right: 2%; top: 25%; }
.searchInBox input[type="text"] {width:100%;}

/* input_Basic */
input[type="text"]{padding:1.2rem 2rem; color:var(--line_gray); border:1px solid var(--line_gray); border-radius: .8rem; font-size: var(--fs16); background:transparent;}
input:focus {border-color:var(--line_blue); outline: none; color:var(--text_gray);}

/* input_box */
.input_box {position: relative;}
.input_box input[type="tel"],
.input_box input[type="text"] ,
.input_box input[type="number"],
.input_box input[type="email"] ,
.input_box input[type="password"] {width:-webkit-fill-available; height: 38px; color: var(--text01); border: 1px solid var(--hover_sky); background: var(--white); text-overflow: ellipsis; white-space: nowrap; overflow: hidden;border-radius: 0 .8rem .8rem 0;  padding:1.2rem 2rem; font-size: var(--fs16); font-weight: 600;  margin:1rem 0;}
.input_box input[type="tel"]:focus, 
.input_box input[type="text"]:focus ,
.input_box input[type="number"]:focus ,
.input_box input[type="email"]:focus ,
.input_box input[type="password"]:focus {color:var(--text01); outline: none;}
/* input message */
.input-status-message {font-size: var(--fs14); font-weight: 400; line-height: 1.3; color:var(--hover_sky);}
.input-with-message ~ .input-status-message {color:var(--hover_sky); display:none; }
.input-with-message.focused:placeholder-shown:not(:focus) ~ .input-status-message--empty { display:block;}
.input-with-message:invalid ~ .input-status-message--invalid {display:block;}

/* input_file */
input[type=file]::file-selector-button {background: var(--white); border: 1px solid #4d4d4d; border-radius: 0.4rem; cursor: pointer;}
input[type=file]::file-selector-button:hover {background: #4d4d4d; color: var(--white);}

/* file-upload */
.file-upload, .file-download {display: flex;  align-items: center;}
.file-upload input[type="file"] {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.file-upload .filename, .file-download .filename {display: flex; justify-content: center; align-items: center; padding: 0.6rem 1.5rem; background-color: var(--text01); cursor: pointer; border-radius: .8rem; white-space: nowrap; font-size: var(--fs14); transition: background-color 0.3s;}
.file-upload .filename:hover , .file-download .filename:hover {border-color:var(--hoAver_sky); background-color:var(--hover_sky);}
.file-upload input[type="text"] { padding: .5rem; width:55%; font-size: inherit; text-align: end; text-overflow: ellipsis; background-color: var(--bg); color:var(--text02); border:0; border-radius: 0.5rem; -webkit-appearance: none; -moz-appearance: none; appearance: none;}

/* .input_box */
.input_box {display: flex; align-items: center; height: 38px;}
.input_box p ,.textBox p ,.tableArea3 td.style {background:var(--tg_body); font-size: var(--fs16); font-weight: 500; height: 100%; padding:1rem 1.5rem ; white-space: nowrap; border:1px solid var(--hover_sky); border-radius: 0.8rem 0 0 0.8rem;}
.input_box.St2 p {border-radius: .8rem; margin-right:1rem;}
.input_box .select {border-radius: 0 0.8rem 0.8rem 0;}

/* inputList */
.inputList .input_box {margin-bottom:1rem; justify-content: space-between; width: -webkit-fill-available;}
.inputList .input_box p ,.inputList .textBox p {width:155px;}
.inputList .input_box input, .inputList .input_box .selectBox ,.inputList .textBox textarea {width:78%;}
.inputList .input_box .selectBox {justify-content: flex-end; gap:0;}
.inputList .input_box .selectBox select {width:100%; }
.inputList .input_box.St2 {justify-content: flex-start;}
/* .inputList .flex {gap:2rem;} */
.inputList .flex .input_box input, .inputList .flex .input_box .selectBox {width: 56%;}
.inputList .flex .input_box:last-child p {width:130px;}
.inputList .flex .input_box:last-child {justify-content: flex-end; }

.radioFlex {display: flex; justify-content: center; align-items: center; text-align: center; padding:0 3rem;}
.radioFlex >* {width:180px;}
/* .radioFlex >*:first-child {margin-left:0;} */
.radioFlex .cate {display: flex; border:1px solid var(--hover_sky); padding:1.5rem 2rem; width:100%; border-radius: .8rem;}
.radioFlex .cate p {margin-left: 0.5rem; font-size:var(--fs16); font-weight:normal; white-space: nowrap; margin-left: 1rem;}
#radioC {accent-color: var(--radio);}

/* textArea */
textarea {width:100%; font-size: 1.6rem; padding: 1.2rem 2rem; color:var(--bg); border:none; border-radius: 5px; line-height:1.3;}
textarea:focus {border:1px solid var(--hover_sky); outline: none; }
.textBox {display: flex; align-items: stretch; height: 100%; margin-bottom: 1rem;}
.textBox p {height: auto; display: flex; align-items: center;}
.textBox textarea {border-radius: 0 0.8rem 0.8rem 0;}

/*
--------------------------------------- 
pagination Style 
--------------------------------------- 
*/
.pagination {display: flex; align-items: center; justify-content: center; gap: 1rem}
.pagination .arrow {font-size: var(--fs22); background-color:var(--tg_body); border: 1px solid var(--hover_sky); padding: 1px; cursor: pointer; transition: background-color 0.3s, color 0.3s; border-radius: .8rem; color: var(--white); }
.pagination .arrow:hover {background-color: var(--hover_sky); }
.pagination .page-info {font-size: var(--fs16); width:50px; text-align: center;}
.pagination .current-page, .pagination .total-pages {color: var(--white);}
.pagination .arrow:disabled {cursor: not-allowed; color: #aaa;}
.pageWrap {margin-bottom: 2rem;}
.pageWrap, .pageWrap .left {display: flex; align-items: center;}
.pageWrap .select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border:0 none; width:68px; height:-webkit-fill-available; color: var(--white); padding:.6rem 0 .6rem 1.2rem; font-size: var(--fs14); font-family: var(--font_sans); background: url('../image/page_arrow.png') no-repeat 100% 50%; border:1px solid var(--hover_sky); border-radius: 1rem; transition: all 0.3s ease; margin-left: 1rem;}
.pageWrap .select:active { background-color: var(--active-bg); border-color: var(--hover_sky); box-shadow: var(--shadow);}
.pageWrap .select:focus {box-shadow: var(--shadow); outline: none;  }
.pageWrap select:focus option {background-color: var(--focus-option-bg); color:var(--bg2);}

/* BoxStyle */
.BoxStyle, .BoxStyle2 {border:1px solid var(--line_sky); border-radius: 0.8rem; padding:2rem;  text-align: center; background: var(--tg_body);}
.BoxStyle p {font-size: var(--fs14); font-weight: 300; }
.BoxStyle h5 {font-size: var(--fs16);}
.BoxStyle2 {background:var(--text);}


/* 
--------------------------------------- 
tabMenu Style Start
---------------------------------------
 */
.tab-container {width: 100%; max-width: 1735px; margin: 0 auto; display: flex; flex-flow: column; justify-content: flex-end; align-items: flex-end;height: var(--full);}
/* tabs */
.tabs, .tabMenu {display: flex; justify-content: flex-start; width: 740px; margin-bottom:2rem; border: 1px solid var(--line_sky); border-radius: 0.8rem; background: var(--bg); }
.tab {width:var(--full); text-align: center; padding:1.2rem 1.3rem; cursor: pointer;  transition: background-color 0.3s;}
.tab:first-child {border-radius: 0.6rem 0 0 0.6rem;}
.tab:nth-child(2) {border-left: 1px solid var(--line_sky);border-right: 1px solid var(--line_sky);}
.tab:last-child {border-radius: 0 0.6rem 0.6rem 0;}
/* tab -> hover */
.tab:hover {background:var(--hover_sky);}
.tab.active {background:var(--hover_sky);}

/* tab-content*/
.tab-content {width: 1735px; display: none; border-radius: 0 0 4px 4px; height: var(--full);}
.tab-content.active {display: block;}
/* tabWrap */
.tabWrap {height: var(--full);}
.tabWrap .tabBox {width:var(--full); height: var(--full);}
.tabWrap .tabBox .tabtitle, .tabWrap .tabBox .tabtitle2 {justify-content: space-evenly; padding:1.2rem 1.5rem; font-size: var(--fs16); border-bottom:2px solid var(--hover_sky); position: relative; }
.tabWrap .tabBox .tabtitle2 {border-bottom-color: #9f9f9f;}
.tabWrap .tabBox .tabtitle h2{text-align: center;}
.tabWrap .tabBox .tabtitle h2, .tabWrap .tabBox .tab_con .box {position: relative;  width:var(--full);}
.tabWrap .tabBox .tabtitle h2:not(:last-child)::after, .tabWrap .tabBox .tab_con .box:not(:last-child)::after {content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 2px; height: 2rem; border-right: 1px dotted white;}
.tabWrap .tabBox .tab_con {display: flex; gap: 4rem; padding:1rem 2rem;}
.tabWrap .tabBox .tab_con .box:not(:last-child)::after {height: 100%; transform: translateY(-50%); right: -2rem; }

/* tabStyle */
#tabStyle .tab-container {position:relative;}
#tabStyle .tab-container .tabs {position:absolute; top:7%; width:1000px; transform: translate(0, 8%);}

#tabStyle.St1 .tabs {width:450px; border:0; flex-flow: column; justify-content: end; left: 0; background: inherit; height: min-content; padding: 0 1rem;}
#tabStyle.St1 .tabs .tab {border: 1px solid var(--line_sky); border-radius: 0.8rem; margin-top:1.5rem;}

#tabStyle.St2 .tabsBox {display: flex; width: 100%;}
#tabStyle.St2 .tabMenu {margin-left: auto; width: 60%;}
/* tabList */
.tab-content .tabList {align-items: flex-start;}
.tab-content .tabList .tableArea {width:940px;}
.tab-content .tabList .tableArea .tg tr >* {font-size: var(--fs15);}
.tab-content .tabList .tableAreatgTitle2 {font-size: var(--fs16);}
#tabStyle.St2 .tab-content .tabList .inputList {width:650px;}
#tabStyle.St2.mt20 .tab-content .tabList .inputList {width:694px;}
/* 
--------------------------------------- 
header Style Start
---------------------------------------
 */
#header { width:100%; margin:0 auto;  z-index: 100; display:flex; align-items: flex-start; color: var(--white); background:var(--header_navy); position: fixed; top:0; flex-flow: column; z-index: 1000;} 
#header, .toplogo, #header .menu li  {height: 80px;}

.toplogo img {height: -webkit-fill-available;}
#header .menu, #header .submenu {padding-right:8rem; gap: 4rem; display: flex; align-items: flex-start;  width: 100%; font-family: var(--font_sans); }
#header .menu div, #header .submenu div {margin-right:auto;}
#header .menu li, #header .submenu li {width:300px;}
#header .menu li > a ,#header .submenu li a {display: block; white-space: nowrap; } 

#header .menu {height: 100%; background:var(--header_navy);}
#header .menu li > a { padding: 2.4rem 2.5rem; position: relative; display: flex; height: 100%; align-items: center; transition: font-weight 0.3s ease; width: fit-content; font-size: var(--fs20);}
#header .menu li:hover > a {color:var(--hover_sky); font-weight: 700;}
#header .menu li:hover > a::after {position:absolute; content: ''; width:100%; height: 5px; background: var(--hover_sky); bottom:0; left: 0;}
#header .menu li > a.on::after {position:absolute; content: ''; width:100%; height: 5px; background: var(--hover_sky); bottom:0; left: 0;}
#header .menu li a.on {font-weight: 700; color:var(--hover_sky); text-align: center;} 

#header .subwrap {display: none; width:100%; transition: max-height 0.3s ease-out; height:auto; overflow: hidden; transition: max-height 0.3s ease-out; background:var(--submenu); position: absolute; top:90px; padding:0 0 1rem;transform: translate(0, -5%);}
#header .submenu {height: fit-content;}
#header .submenu div {width:485px;}
#header .submenu h2 {visibility: hidden;}

#header .submenu li a {padding: 8px 20px; font-size: 1.5rem;}
#header .submenu li a:hover {color:var(--hover_sky);}

#header .subwrap.active {display: block; max-height: 400px;}