.vi-font {
  font-family: 'VITRO', sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 84rem;
}

.banner-inner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1480px;
  width: 100%;
  width: calc(100% - 220px);
}

.b-con {
  margin-bottom: 10rem;
}

.banner-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 84rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.slide1 {
  background-image: url('../assets/img/main-banner1-bg.png');
}
.slide2 {
  background-image: url('../assets/img/main-banner2-bg.png');
}
.slide3 {
  background-image: url('../assets/img/main-banner3-bg.png');
}

/* 인디케이터 & 버튼을 한 줄로 배치 */
.slide-controller {
  position: absolute;
  top: 68%;
  left: 11.5%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.slide-indicator {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #fff;
}

.slide-indicator .current,
.slide-indicator .total {
  font-size: 2rem;
}

/* 전체 바 */
.progress-bar {
  width: 39rem;
  height: 4px;
  background: rgb(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

/* 채워지는 부분 */
.progress-fill {
  width: 0%;
  height: 100%;
  background: #fff;
  transition: width 0.3s ease;
}

/* 화살표 버튼 */
.slide-arrows {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.slide-arrows button {
  background: none;
  border: none;
  cursor: pointer;
}
.slide-arrows img {
  width: 1.4rem;
  height: 1.4rem;
}

/* 타이틀 스타일 */
.b1-title {
  white-space: nowrap;
  font-size: 9.6rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-shadow: 4px 4px 0 #ffa17e, 8px 8px 0 #d00c13;
}
.b1-sub {
  font-size: 24px;
  font-weight: 400;
  color: var(--white);
}
.b1-ri {
  max-width: 69rem;
  height: auto;
  margin-top: 24rem;
}
/* Scroll Down 버튼 */
.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.scroll-down span {
  font-size: 16px;
  margin-bottom: 8px;
}

/* 원형 배경 */
.scroll-down .circle {
  width: 5.4rem;
  height: 5.4rem;
  background-color: var(--red);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 19px 18px rgba(237, 27, 35, 0.3);
}

/* SVG 아이콘 크기 조정 */
.scroll-down .circle img {
  animation: bounce 1.5s infinite;
  position: absolute;
  bottom: 26px;
  left: 49%;
  transform: translateX(-50%);
}

/* 화살표 애니메이션 */
@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
}

/* 굽네튜브 */
.goobne-tube {
  text-align: center;
}

.video-wrapper {
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 100%;
  max-width: 60rem;
  height: 33.7rem;
  border-radius: 20px;
}

.btn-youtube {
  display: inline-block;
  padding: 2rem 3rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s;
  border: 1px solid var(--gray);
  border-radius: 99px;
  font-size: 2rem;
}

.arrow {
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  transition: background-color 0.3s;
}

.arrow.active {
  background-color: var(--red);
}

/* 굽뉴스 */
.news-list {
  list-style: none;
}

.news-list li {
  border-bottom: 1px solid var(--gray2);
}

.news-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 3.2rem 2rem;
  gap: 12rem;
  width: 100%;
}

/* 호버 시 살짝 배경 */
.news-list a:hover {
  background-color: #fafafa;
}

.news-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.news-category {
  font-weight: bold;
  font-size: 2.2rem;
}

.news-title {
  font-size: 1.6rem;
  color: var(--gray2);
}

.news-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.news-more {
  border: 1px solid var(--gray);
  border-radius: 99px;
  padding: 1rem 2rem;
}
.news-more img {
  width: 2rem;
}

/* 창업 */

.st-tit {
  font-size: 3.6rem;
  margin-bottom: 8rem;
}

.st-sub {
  font-size: 2.4rem;
}
.store-more {
  border: 1px solid var(--gray);
  border-radius: 99px;
  padding: 2.3rem 3.3rem;
  font-size: 2rem;
}

.st-main {
  width: 100%;
  height: 60rem;
  gap: 4rem;
  display: flex;
}

.st-le {
  width: 60%;
  height: 100%;
  border-radius: 4rem;
  padding: 6rem;
}

.st-ri {
  width: 40%;
  height: 100%;
}
.st-ri box {
  border-radius: 4rem;
  padding: 4rem;
}

.sto-ali {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrow-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.news-arrow {
  width: 2.6rem;
}

.re-tit {
  font-size: 3.2rem;
}

.re-store {
  max-width: 15rem;
  width: 100%;
}

.re-sub {
  font-size: 2.4rem;
}

.st-con {
  display: flex;
  justify-content: space-between;
}

/* swiper */
.swiper-box-1 .swiper-slide  img {
  width: 270px;
  transition: all 0.3s ease-in;
}
.swiper-box-1 .swiper {
  padding-top:100px;
  height: 660px;
  padding-bottom:100px;
}
.swiper-slide {
  position: relative;
  display: flex;
  width: fit-content !important;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 20px;
  flex-direction: column;
  transition: all 0.3s ease-in;
}

.swiper-slide-active {
  flex-direction: row;
  width: 100% !important;
  max-width: 750px;
}
.swiper-slide:after {
  content: '';
  position: absolute;  
  background: #FAFAFA;
  width: 0%;
  height: 60%;
  z-index: -1;  
  border-radius: 150px;
  opacity: 0;
  transition: all .5s linear;
}
.swiper-box-1 .swiper-slide-active img {
  width: 420px;
  transform: scale(1);
}
.swiper-slide-active:after {
  opacity: 1;
  width: 100%;
}

.slide-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-info span {
  background:#FFAB61;
  width: fit-content;
  color: var(--white);
  font-weight: bold;
  padding:.5rem 1rem;
  border-radius: 50px;
  margin-bottom: 1rem;
}
.swiper-slide-active .slide-info {
  align-items: start; 
  margin-left: 20px;
}
.slide-info h2 {
  font-size: 1.6rem;
  font-weight: bold;
}
.button {
  margin-top: 10px;
  padding: .8rem 1.5rem;
  background: var(--black);
  color: white;
  font-size: 1.4rem;
  border-radius: 50px;
  cursor: pointer;
  display: none;
}

.swiper-slide-active .button{
  display: block;
}