
:root {
  --filter-01: invert(59%) sepia(300%) saturate(1%) hue-rotate(50deg) brightness(151%) contrast(91%);
}

.grid {display: -webkit-grid; display: grid; gap: 3rem;}
.gridCol3 {-webkit-grid-template-columns: repeat(3, 1fr);grid-template-columns: repeat(3, 1fr); }

.con-tit {
  margin: 5rem 0 4rem 0;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  margin: .3rem 0 2rem;
  width: 100%;
}

.search-select {
  /* 기본 스타일 */
  padding: 2rem 2.5rem;
  font-size: 1.6rem;
  border: 1px solid #e8e8e8;
  border-radius: 99px;
  width: 100%;
  max-width: 215px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url('../assets/img/search-select-tri.svg') no-repeat calc(100% - 1.5rem) center / 1.4rem 1.4rem;

  padding-right: 3rem;
}

.search-btn {
  border-radius: 50%;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.search-btn img {
  max-width: 3rem;
}


/* tab-menu */
.maintab-Wrap {
  position: relative;
  width: 100%;
}
.maintab-Wrap .maintab {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap:2rem;
  padding-bottom:4rem;
}
.maintab-Wrap .maintab>li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  box-sizing: border-box;
  -webkit-transition-property: color, border-color, background-color, box-shadow;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: color, border-color, background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.maintab-Wrap .maintab>li a {
  width: 100%;
  text-align: center;
  color: var(--black);
  font-weight: bold;
  padding: 1.3rem;
  -webkit-transition-property: color, border-color, background-color, box-shadow;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: color, border-color, background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.maintab-Wrap .maintab>li a img {margin: 0 auto 2rem; filter: var(--filter-01);
  transition: 0.3s;
}
.maintab-Wrap .maintab>li.active a {
  color: var(--red);
}
.maintab-Wrap .maintab>li.active a img {
  filter: none;
}
.maintab-Wrap .maintab>li.active:hover a,
.maintab-Wrap .maintab>li.active,
.maintab-Wrap .maintab>li.active:hover a img,
.maintab-Wrap .maintab>li.active img {
  cursor: default;
}

.maintab-Wrap .maintab:not(.subtab, .tab-indecate)>li:not(.active) a:hover,
.maintab-Wrap .maintab:not(.subtab, .tab-indecate)>li:not(.active) a:hover img {
  color: var(--red);
  filter: none;
}
/* mini */
.minitab {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1rem;
}
.minitab li {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 99px;
  background: #fff;
  border:1px solid #e8e8e8;
}
.minitab li.active {
  background: #000;
  color: white;
} 

.mini-tabcon {
  display: none;
  padding: 20px 0;
  margin-top: 10px;
}
.mini-tabcon.active{
  display: block;
}

.item b {font-weight: bold;}
.tabcontents {
  display: block;
  height: 100%;
}
.tabcontents .tabcon {
  display: none;
  padding: 10px 0px 24rem;
  font-size: 1.8rem;
}
.tabcon.active {
  display: block;
}

/* MNU-01-menuBox */
.menu-grid {gap: 3rem; -webkit-grid-template-columns: repeat(3, 1fr);grid-template-columns: repeat(3, 1fr); display: -webkit-grid; display: grid; }

.menu-grid .item {background: #fafafa; height: 445px; padding:2rem; text-align: center; border-radius: 1rem;position: relative;}

.menu-grid .textbox {
  line-height: 150%;
}




