.MNU-01-01-flex {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin:5rem 0 18rem;
  justify-content: space-between;
  height: 510px;
  max-width: 1100px;
}
.MNU-01-01-flex .imgArea img {
  /* max-width: 480px; */
}
.right .title-flex{
  display: flex;
  align-items: center;
  gap: 2rem;  
  white-space: nowrap;
}
.right {width: 50%;}
.right .title-flex span {margin-left: auto; }
.label {    margin-left: auto;
  background:var(--white);
  border:1px solid var(--gray);
  padding:1rem 2rem;
  border-radius: 99px;
  font-size: 1.6rem; 
  font-family: 'OneMobile';
  white-space: nowrap;
}
.title-flex .label.mr10 {margin-right:.5rem;}
.price {font-size: 2rem; font-weight: 900; position: relative; white-space: nowrap;
  font-family: "Noto Sans", sans-serif;}
.price >i {color:#999; cursor: pointer;}


/* mark */
.mark-hover {
  width: max-content;
  position: absolute;
  left: 25%;
  bottom:-50px;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  display: none; 
  padding:.5rem 1rem;
  border:1px solid #E8E8E8;
  border-radius: 1rem;
  background: #fff;
  transition: all 1s ease-out;
  text-align: center;
  font-weight: normal;
}

.mark-hover i {font-size: 2rem; color:#ED1B23;}

.price i:hover + .mark-hover, .price.end i:hover + .mark-hover {
  display:inline-flex;
  align-items: center;
}

.textArea {
  font-size: 1.5rem;
  line-height: 150%;
}
.price.end {text-align: end; position: relative; border-top: 1px solid var(--gray); padding-top: 4rem;}
.price.end .mark-hover {    left: 75%;
  bottom: -50px;}

.order-now {
  background-color: var(--red);
    border-radius: 1rem;
    color: var(--white);
    width: 100%;
    height: 6rem;
  box-shadow: 0px 10px 20px 0px rgba(237,27,35,0.3); 
  border:1px solid var(--red);
}
.order-now.on, .order-now:hover {  
  background-color: var(--black);  
  border:1px solid var(--black);  
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3); 
}

/* 팝업창 스타일 */
.overlay  {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center;
  /* display: flex; */
}
.popup {
  background: white;
  padding: 3rem;
  border-radius: 10px;
  text-align: center;
  width: 480px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.popup img {
  margin: 0 auto 4rem;
  display: block;
}
.popup h3 {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  line-height: 150%;
}
.popup .close-btn {
  color: #fff;
  padding: 2rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 99px;  
  background: var(--red);
  box-shadow: 0px 10px 20px 0px rgba(237,27,35,0.3);
  border: none;
  transition: all 0.5s ease-out;
}
.popup .close-btn:hover {
  background-color: var(--black);  
  box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.3);
}

.origin-overlay .popup {
  width:600px;
}
.allergy-overlay .popup {
  width:1140px;
}

.origin-overlay .popup h3,
.allergy-overlay .popup h3 {
  max-height: 530px;
  overflow-y: scroll;
}