.con-tit {
  margin: 5rem 0 4rem 0;
}

.map {
  font: normal normal 400 12px / normal dotum, sans-serif;
  width: 100%;
  height: 740px;
  color: #333;
  position: relative;
  border-radius: 2rem;
  border: none;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
  width: 100%;
}


.search-input-con {
  width: 100%;
  max-width: 430px;
}
.search-input {
  border: 1px solid #e8e8e8;
  border-radius: 99px;
  width: 100%;
  padding: 1.5rem;
  margin-right: 1rem;
}

.search-input input {
  border: none;
  outline: none;
  font-size: 1.6rem;
}

.search-btn {
  border-radius: 50%;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.search-btn img {
  max-width: 3rem;
}

.store-list {
  margin-top: 4rem;
  margin-bottom: 4rem;
  overflow-x: auto;
  width: 100%;
}

/* 테이블 기본 스타일 */
.store-table {
  width: 100%; /* 가로로 꽉 채움 */
  border-collapse: collapse;
}

/* 테이블 셀 (th, td) */
.store-table th,
.store-table td {
  padding: 2rem 1rem;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.8rem;
}

/* 헤더 셀 (th) */
.store-table th {
  font-weight: bold;
  border-top: 1px solid var(--black);
  font-size: 1.8rem;
}

.call-btn {
  background-color: var(--red);
  color: #fff;
  border: none;
  border-radius: 99px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
}

.address-more {
  background-color: #e8e8e8;
  border-radius: 99px;
  color: var(--gray2);
  width: 30rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 12rem;
  transition: all 0.5s ease-out;
}

.address-more.active, .address-more:hover  {
  background-color: var(--red);
  color: var(--white);
}

